- if post.live?
  %article.story.blog_post{:id => dom_id(post)}
    %header
      .title
        %h4.subheader
          = link_to post.title, refinery.blog_post_path(post)
      %section.details
        = "By"
        %span.author<
          = post.author.username if post.author.present?
        %time.posted_at{:datetime => post.published_at.to_date, :format => :default}
          = t('created_at', :scope => 'refinery.blog.shared.posts', :when => post.published_at.to_s(:published))
        .row
          .seven.columns
            - if (categories = post.categories).any?
              %aside.filed_in
                - categories.each do |category|
                  .category
                    = link_to category.title, refinery.blog_category_path(category), :class => "main"
                    = link_to "", refinery.blog_category_path(category), :class => "tag"
          .five.columns.num-comments
            = link_to "Comments", "#{refinery.blog_post_path(post)}#disqus_thread"
    %hr.divider
    %section.clearfix
      - if post.images.any?
        %a.gallery-link.th{:href => refinery.blog_post_path(post)}
          %img{:src => post.images.first.url}
      - if blog_post_teaser_enabled?
        = blog_post_teaser(post)
      - else
        = post.body.html_safe
    %footer
      - if post.images.any?
        = link_to "See More", refinery.blog_post_path(post), :class => "learn-more" if blog_post_teaser_enabled?
      - else
        = link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post), :class => "learn-more" if blog_post_teaser_enabled?
  :javascript
    var disqus_shortname = 'nationalyouthsummit';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());